.home-wrapper{
    padding: 2em;
}

.category-and-listing-wrapper{
    display: flex;
    flex-wrap: wrap;
}
app-rewards-categories{
    flex:1 0 33%;
}
app-rewards-list{
    flex: 2 0 66%;
}
@media screen and (max-width: 768px) {
    app-rewards-categories,app-rewards-list {
      flex: 1 0 100%; 
    }
}

