.home-wrapper{
    padding: 2em;
}

.search-bar-container input{
    width: 100%;
}

.category-and-listing-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.category-container{
    flex:1 0 33%;
}
.reward-listing-container{
    flex: 2 0 66%;
}
@media screen and (max-width: 768px) {
    .category-container, .reward-listing-container {
      flex: 1 0 100%; 
    }
  }